@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<title>
    Account Confirmation
</title>

<h1>
    Confirm WAGURI account
</h1>

<h3>
    Email has been sent to your email!
</h3>

<h3>
    click on the link to confirm your account!
</h3>

<h3>
    if email is already confirmed,<br />
    <a 
        asp-action="RedirectToLogin" 
        asp-controller="Auth">
        click this link to go back to login!
    </a>
</h3>

