<link href="~/css/Login.css" rel="stylesheet" />

<title>
    Login
</title>

<div class='container'>
    <div class="header-container">
        <span class='header-1'>
            WAGURI Account
        </span>
        <span class="header-2">
            Login
        </span>
    </div>
    @* form container *@
    <div class="form-container">

        <div class="form-group">
            <span class="label">
                email id
            </span>
            <input class="textbox" type='text' />
        </div>

        <div class="form-group">
            <span class="label">
                password
            </span>
            <input class="textbox" type='password' />
        </div>

    </div>
    <button class="secondary-btn">
        continue
    </button>
</div>
